<h1 mat-dialog-title>Ulteriori informazioni</h1>
<div mat-dialog-content>
  <form>
    <label><h2>Polizza</h2></label>
    <mat-form-field appearance="fill">
      <mat-label>Sostituta</mat-label>
      <input readonly value="{{ infoCustomer.numSostituta }}" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Abbinata</mat-label>
      <input readonly value="{{ infoCustomer.numAbbinata }}" matInput />
    </mat-form-field>

    <label for=""><h2>Veicolo</h2></label>
    <mat-form-field appearance="fill">
      <mat-label>Cilindrata</mat-label>
      <input matInput readonly />

    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cavalli</mat-label>
      <input matInput readonly />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quintali</mat-label>
      <input matInput readonly />
    </mat-form-field>

    <label><h2>Altro</h2></label>
    <mat-form-field appearance="fill">
      <mat-label>Creato</mat-label>
      <input
        readonly
        value="{{ infoCustomer.createdAt | date : 'd/M/yyyy, hh:mm' }}"
        matInput
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Modificato</mat-label>
      <input
        readonly
        value="{{ infoCustomer.updatedAt | date : 'd/M/yyyy, hh:mm' }}"
        matInput
      />
    </mat-form-field>
  </form>
</div>
