<h1 mat-dialog-title>Impostazioni Tabella</h1>
<div mat-dialog-content>
  <!-- elenco checkbox da selezionare per mostrare colonne -->
  <div [formGroup]="dynamColumns">
    <div class="matContainer">
      <!-- nome -->
      <mat-checkbox color="primary" formControlName="nome">Nome</mat-checkbox>
      <!-- codice fiscale -->
      <mat-checkbox color="primary" formControlName="codFiscale"
        >Codice Fiscale</mat-checkbox
      >
      <!-- numero telefono -->
      <mat-checkbox color="primary" formControlName="numTel"
        >Telefono</mat-checkbox
      >
      <!-- indirizzo -->
      <mat-checkbox color="primary" formControlName="indirizzo"
        >Indirizzo</mat-checkbox
      >
      <!-- classe -->
      <mat-checkbox color="primary" formControlName="classe"
        >Classe</mat-checkbox
      >
      <!-- classePre -->
      <mat-checkbox color="primary" formControlName="classePre"
        >Classe Precedente</mat-checkbox
      >
      <!-- compagnia -->
      <mat-checkbox color="primary" formControlName="compagnia"
        >Compagnia</mat-checkbox
      >
      <!-- numero polizza -->
      <mat-checkbox color="primary" formControlName="numPolizza"
        >Numero Polizza</mat-checkbox
      >
      <!-- numero sostituta -->
      <mat-checkbox color="primary" formControlName="numSostituta"
        >Sostituta</mat-checkbox
      >
      <!-- numero abbinata -->
      <mat-checkbox color="primary" formControlName="numAbbinata"
        >Abbinata</mat-checkbox
      >
      <!-- frazionamento -->
      <mat-checkbox color="primary" formControlName="frazionamento"
        >Frazionamento</mat-checkbox
      >
      <!-- data emissione -->
      <mat-checkbox color="primary" formControlName="dataEmissione"
        >Data Emissione</mat-checkbox
      >
      <!-- pervenuta -->
      <mat-checkbox color="primary" formControlName="pervenuta"
        >Pervenuta</mat-checkbox
      >
      <!-- data scadenza -->
      <mat-checkbox color="primary" formControlName="dataScadenza"
        >Data Scadenza</mat-checkbox
      >
      <!-- data scadenza 2 -->
      <mat-checkbox color="primary" formControlName="dataScadenza2"
        >Data Scadenza 2</mat-checkbox
      >
      <!-- importo -->
      <mat-checkbox color="primary" formControlName="importo"
        >Importo</mat-checkbox
      >
      <!-- tipo pagamento -->
      <mat-checkbox color="primary" formControlName="tipoPagamento"
        >Tipo Pagamento</mat-checkbox
      >
      <!-- numero abbinata -->
      <mat-checkbox color="primary" formControlName="dataPagamento"
        >Data Pagamento</mat-checkbox
      >
      <!-- targa -->
      <mat-checkbox color="primary" formControlName="targa">Targa</mat-checkbox>
      <!-- modello -->
      <mat-checkbox color="primary" formControlName="modello"
        >Modello</mat-checkbox
      >
      <!-- cilindrata -->
      <mat-checkbox color="primary" formControlName="numCilindrata"
        >Cilindrata</mat-checkbox
      >
      <!-- cavalli -->
      <mat-checkbox color="primary" formControlName="numCavalli"
        >Cavalli</mat-checkbox
      >
      <!-- quintali -->
      <mat-checkbox color="primary" formControlName="numQuintali"
        >Quintali</mat-checkbox
      >
      <!-- kw -->
      <mat-checkbox color="primary" formControlName="numKw">Kw</mat-checkbox>
      <!-- azioni -->
      <mat-checkbox color="primary" formControlName="azioni"
        ><b>Azioni</b></mat-checkbox
      >
    </div>

    <!-- <p>{{ dynamColumns.value | json }}</p> -->
    <div mat-dialog-actions [align]="'end'">
      <button
        style="margin-left: 8px"
        (click)="onSave()"
        mat-raised-button
        color="primary"
      >
        Salva
      </button>
      <button mat-raised-button color="warn" mat-dialog-close>Chiudi</button>
    </div>
  </div>
</div>
