.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 25%;
// }

.container {
  max-width: 1600px;
  margin: 0 auto;
}


// .mat-row:nth-child(even) {
//   background-color: red;
// }

// .mat-row:nth-child(odd) {
//   background-color: black;
// }
