.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  width: 100%;
  height: 50vh;
  overflow: auto;
  flex-direction: row;
  // background-color: yellow;
}

.FlexContainer div {
  width: 500px;
  height: 300px;
  margin: 50px;
  cursor: pointer;
  // background-color: red;
}

.quote {
  text-align: center;
  margin-top: 10vh;
}
p {
  font-size: 24px;
  margin-bottom: 30px;
  line-height: 0.8;
  font-style: italic;
  //   border: 20px solid black;
}
