<section class="FlexContainer">
  <div>
    <mat-card class="example-card mat-elevation-z0" routerLink="/table">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Portale</mat-card-title>
          <mat-card-subtitle>Clienti</mat-card-subtitle>
          <img
            mat-card-xl-image
            src="https://images.pexels.com/photos/53621/calculator-calculation-insurance-finance-53621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr="
            class="mat-elevation-z0 border-styling"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card class="example-card mat-elevation-z0" routerLink="/stats">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Statistiche</mat-card-title>
          <mat-card-subtitle>Informazioni</mat-card-subtitle>
          <img
            mat-card-xl-image
            src="https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_960_720.jpg"
            class="mat-elevation-z0 border-styling"
          />
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
    </mat-card>
  </div>
</section>
