<div class="container">
  <!-- buttons -->
  <!-- pulisci filtri -->
  <button
    class="bg-[#ff4d4d] text-white active:bg-[#ff1a1a] font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-3 mt-3 ease-linear transition-all duration-150"
    type="button"
    (click)="onReset()"
  >
    RESET
  </button>
  <!-- scadenze -->
  <button
    class="bg-slate-400 text-white active:bg-slate-500 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-3 mt-3 ease-linear transition-all duration-150"
    type="button"
    (click)="onScadenze()"
  >
    SCADENZE
  </button>

  <!-- insoluti -->
  <button
    class="bg-green-400 text-white active:bg-green-500 font-bold uppercase text-xs px-4 py-2 rounded-full shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-3 mt-3 ease-linear transition-all duration-150"
    type="button"
    (click)="onInsoluti()"
  >
    INSOLUTI
  </button>

  <!-- end buttons -->
  <div style="margin-top: 5px">
    <mat-form-field style="margin-bottom: -1em">
      <mat-label>Filtro</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Es. Luca Rossi"
        #input
      />
    </mat-form-field>
    <div class="mat-table-div mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- PERSONA -->
        <!-- nome -->
        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let row">{{ row.nome | titlecase }}</td>
        </ng-container>

        <!-- codice fiscale -->
        <ng-container matColumnDef="codFiscale">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Codice Fiscale
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.codFiscale | uppercase }}
          </td>
        </ng-container>

        <!-- telefono -->
        <ng-container matColumnDef="numTel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
          <td mat-cell *matCellDef="let row">{{ row.numTel }}</td>
        </ng-container>

        <!-- indirizzo -->
        <ng-container matColumnDef="indirizzo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Indirizzo</th>
          <td mat-cell *matCellDef="let row">
            {{ row.indirizzo | titlecase }}
          </td>
        </ng-container>

        <!-- classe -->
        <ng-container matColumnDef="classe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe</th>
          <td mat-cell *matCellDef="let row">
            {{ row.classe }}
          </td>
        </ng-container>

        <!-- classe precedente -->
        <ng-container matColumnDef="classePre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Classe Pre.</th>
          <td mat-cell *matCellDef="let row">
            {{ row.classePre }}
          </td>
        </ng-container>

        <!-- POLIZZA -->

        <!-- compagnia -->
        <ng-container matColumnDef="compagnia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Compagnia</th>
          <td mat-cell *matCellDef="let row">
            {{ row.compagnia | titlecase }}
          </td>
        </ng-container>

        <!-- numero polizza -->
        <ng-container matColumnDef="numPolizza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Polizza</th>
          <td mat-cell *matCellDef="let row">{{ row.numPolizza }}</td>
        </ng-container>

        <!-- numero polizza sostituta -->
        <ng-container matColumnDef="numSostituta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sostituta</th>
          <td mat-cell *matCellDef="let row">{{ row.numSostituta }}</td>
        </ng-container>

        <!-- numero polizza abbinata -->
        <ng-container matColumnDef="numAbbinata">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Abbinata</th>
          <td mat-cell *matCellDef="let row">{{ row.numAbbinata }}</td>
        </ng-container>

        <!-- data emissione -->
        <ng-container matColumnDef="dataEmissione">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Data Emissione
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.dataEmissione | date : "d/M/yyyy" }}
          </td>
        </ng-container>

        <!-- pervenuta -->
        <ng-container matColumnDef="pervenuta">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pervenuta</th>
          <td mat-cell *matCellDef="let row">{{ row.pervenuta }}</td>
        </ng-container>

        <!-- classe precedente -->
        <ng-container matColumnDef="frazionamento">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Frazionamento
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.frazionamento | titlecase }}
          </td>
        </ng-container>

        <!-- data scadenza -->
        <ng-container matColumnDef="dataScadenza">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Data Scadenza
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.dataScadenza | date : "d/M/yyyy" }}
          </td>
        </ng-container>

        <!-- data scadenza -->
        <ng-container matColumnDef="dataScadenza2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Data Scadenza 2
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.dataScadenza2 | date : "d/M/yyyy" }}
          </td>
        </ng-container>

        <!-- importo -->
        <ng-container matColumnDef="importo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Importo</th>
          <td mat-cell *matCellDef="let row">
            {{ row.importo | currency : "EUR" }}
          </td>

          <!-- tipo pagamento -->
          <ng-container matColumnDef="tipoPagamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Tipo Pagamento
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.tipoPagamento | titlecase }}
            </td>
          </ng-container>

          <!-- datas pagamento -->
          <ng-container matColumnDef="dataPagamento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Data Pagamento
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.dataPagamento | date : "d/M/yyyy" }}
            </td>
          </ng-container>

          <!-- VEICOLO -->

          <!-- targa -->
          <ng-container matColumnDef="targa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Targa</th>
            <td mat-cell *matCellDef="let row">
              {{ row.targa | uppercase }}
            </td>
          </ng-container>

          <!-- modello -->
          <ng-container matColumnDef="modello">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Modello</th>
            <td mat-cell *matCellDef="let row">
              {{ row.modello | uppercase }}
            </td>
          </ng-container>

          <!-- cilindrata -->
          <ng-container matColumnDef="numCilindrata">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Cilindrata
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.numCilindrata }}
            </td>
          </ng-container>

          <!-- cavalli -->
          <ng-container matColumnDef="numCavalli">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cavalli</th>
            <td mat-cell *matCellDef="let row">
              {{ row.numCavalli }}
            </td>
          </ng-container>

          <!-- quintali -->
          <ng-container matColumnDef="numQuintali">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Quintali</th>
            <td mat-cell *matCellDef="let row">
              {{ row.numQuintali }}
            </td>
          </ng-container>

          <!-- kw -->
          <ng-container matColumnDef="numKw">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Kilowatt</th>
            <td mat-cell *matCellDef="let row">
              {{ row.numKw }}
            </td>
          </ng-container>

          <!-- {{Value | currency}} -->
        </ng-container>

        <!-- azioni -->
        <ng-container matColumnDef="azioni">
          <th mat-header-cell *matHeaderCellDef></th>
          <td class="icons-alignment" mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="editPersona(row)">
              <mat-icon mat-icon-button color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletePersona$(row._id)">
              <mat-icon mat-icon-button color="warn">delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="mat-grey"
              (click)="openInfo(row._id)"
            >
              <mat-icon>more_horiz</mat-icon>
            </button>
            <button (click)="openFiles(row._id)" mat-icon-button color="white">
              <mat-icon>folder_open</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            Nessun dato trovato per il filtro selezionato
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="10"
        aria-label="Seleziona utenti da mostrare"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<!-- spinner -->
<mat-spinner id="spinner-table" *ngIf="spinnerStatus"></mat-spinner>
