.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-table-div {
  border-radius: 8px !important;
  overflow: hidden !important;
  margin-bottom: 0.5rem;

}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  // durante il testing --> 1600px;
  max-width: 1800px;
  margin: 0 auto;
}

#spinner-table {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.div-controls {
  text-align: right;
  height: 3.5em;
  margin-right: 2.5em;
  margin-top: 0.4em;
}

button {
  display: inline-block;
}

.icons-alignment {
  text-align: right;
}
