.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

// td,
// th {
//   width: 25%;
// }

.container {
  // durante il testing --> 1600px;
  max-width: 1800px;
  margin: 0 auto;
}

// spinner

#spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.div-controls {
  text-align: right;
  height: 3.5em;
  margin-right: 2.5em;
  margin-top: 0.4em;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

button {
  display: inline-block;
}

.icons-alignment {
  text-align: right;
}